:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.hoverable:hover { background: rgba(0, 0, 0, 0.05); }

.insertion-caret { opacity: 0; }
.insertion-caret.selected { opacity: 1; }
.insertion-point:hover .insertion-caret { opacity: 1; }
